<!DOCTYPE html>
<html>
	<head>
		<title>HTML5 Outliner bookmarklet (v<%= version %>)</title>
	</head>
	<body>
<!--
<%= banner %>
-->
		<p>Drag this to your favorites: <a href="javascript:(function () { <%= bookmarklet %> })()" title="H5O v<%= version %>">H5O v<%= version %></a></p>

		<ul>
			<li><a href="http://marklets.com/FAQ.aspx#howDoIAddABookmarkletToMyBrowser">Installation details</a> for common browsers.</li>
			<li><a href="https://github.com/h5o/h5o-js/wiki/Bookmarklet-problems-with-Internet-Explorer">Internet Explorer is not supported</a></li>
		</ul>

	</body>
</html>
