<!DOCTYPE html>
<html>
<head>
	<title>HTML5 Outliner bookmarklet (v<%= version %>)</title>
	<style>

		/* src: http://h5o.github.io/css/main.css */
		body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }
		body { font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.5; font-weight: 300; color: #111; -webkit-text-size-adjust: 100%; }
		ul, ol { margin-left: 30px; }

		body { padding: 5px; }

		a { color: #2a7ae2; text-decoration: none; }
		a:visited { color: #1756a9; }
		a:hover { color: #111; text-decoration: underline; }

		p { text-align: center; }
		h1 a { text-align: center; font-weight: bold; display: block; margin: 5px; font-size: 22px; }

	</style>
</head>
<body>
<!--
<%= banner %>
-->
<p>Drag this to your favorites:</p>

<h1><a href="javascript:(function () { <%= bookmarklet %> })()" title="H5O v<%= version %>">H5O v<%= version %></a></h1>

<ul id="help">
	<li><a target="_top" href="http://marklets.com/FAQ.aspx#howDoIAddABookmarkletToMyBrowser">Installation details</a> for common browsers.</li>
	<li><a target="_top" href="https://github.com/h5o/h5o-js/wiki/Bookmarklet-problems-with-Internet-Explorer">Internet Explorer is not supported</a>.</li>
	<li>Homepage for <a target="_top" href="http://h5o.github.io">HTML5 outliner</a>.</li>
</ul>

<script>
	if (window !== window.top) {
		document.getElementById("help").style.display = "none";
	}
</script>

</body>
</html>
