<!DOCTYPE html>
<html>
	<head>
		<title>HTML5 Outliner bookmarklet (v<%= version %>)</title>
	</head>
	<body>
<!--
<%= banner %>
-->
		<h1>Drag this link to your favorites bar: <a href="javascript:<%= outliner %>;<%= bookmarklet %>;" title="H5O v<%= version %>">H5O v<%= version %></a></h1>

		<h2>Tested in:</h2>
		<ul>
			<li>Opera 10.10</li>
			<li>Firefox 3.5</li>
		</ul>
		<p>However, it should work normally in other modern browsers. Please <a href="https://github.com/h5o/h5o-js/issues?state=open">report a bug</a> if it doesn't.</p>

		<h2>Internet Explorer is not supported</h2>
		<p><a href="https://github.com/h5o/h5o-js/wiki/Bookmarklet-problems-with-Internet-Explorer">List of problems</a></p>
		<p>However, there is an <a href="http://h5o.googlecode.com/files/bookmarklet.for.ie.html">older, unsupported, out of date version</a> which was done as an exercise.</p>

	</body>
</html>